@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Questrial|Quicksand');

body {
    font-family: 'Questrial';

}
a{
    color: black;
}
div#navbarSupportedContent.collapse.navbar-collapse{
    justify-content: flex-end;
}

.container {
    max-width: 1200px;
}
h1{

}
h2{
    color: #545454;
  font-family: 'Questrial';
}
h5{
      font-family: 'Questrial';
    color: #545454;
}
img.card-img-top{
    height: 190px
}