@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Questrial|Quicksand');

body {
  font-family: 'Questrial';
 
}
a{
    color: black;
}
div#navbarSupportedContent.collapse.navbar-collapse{
    justify-content: flex-end;
}

.container {
    max-width: 1400px;
}